@import url("https://fonts.googleapis.com/css2?family=Allura&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Inknut+Antiqua:wght@300&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Allura&family=Cardo&family=Cinzel&family=Cinzel+Decorative&family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=EB+Garamond&family=Gloock&family=Inknut+Antiqua:wght@300&family=Inter:wght@200&family=Lato:wght@300&family=Libre+Caslon+Text&family=Libre+Franklin:wght@300&family=Lora&family=Nanum+Myeongjo&family=Open+Sans&family=PT+Sans&family=Playfair+Display&family=Quicksand:wght@300&family=Satisfy&display=swap"); */

/* =================== */

@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cardo&family=Cinzel&family=Cinzel+Decorative&family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=EB+Garamond&family=Gloock&family=Inknut+Antiqua:wght@300&family=Inter:wght@200&family=Lato:wght@300&family=Libre+Caslon+Text&family=Libre+Franklin:wght@300&family=Lora&family=Nanum+Myeongjo&family=Noto+Serif+JP:wght@200&family=Open+Sans&family=PT+Sans&family=Playfair+Display&family=Quicksand:wght@300&family=Satisfy&display=swap");

/* pタグ */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cardo&family=Cinzel&family=Cinzel+Decorative&family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=EB+Garamond&family=Gloock&family=Inknut+Antiqua:wght@300&family=Inter:wght@200&family=Lato:wght@300&family=Libre+Caslon+Text&family=Libre+Franklin:wght@300&family=Lora&family=Nanum+Myeongjo&family=Noto+Sans+JP:wght@100&family=Noto+Serif+JP:wght@200&family=Open+Sans&family=PT+Sans&family=Playfair+Display&family=Quicksand:wght@300&family=Satisfy&display=swap");
body {
  background-color: #ffffff;
  margin: 0;
  height: 100vw;
}
header img {
  width: 100%;
}
main {
  max-width: 1030px;
  width: 70%;
  margin: 0 auto;
}
ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  padding-top: 18px;
  height: 30px;
}
li {
  padding: 10px;
  font-size: 20px;
  font-family: "Cormorant Infant", serif;
}
.top {
  display: flex;
  justify-content: flex-end;
  height: 20px;
}
/* .top li {
  float: left;
} */
/* Worksのポップアップ写真 */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}
.sp {
  display: none !important;
}

a {
  text-decoration: none;
}
/* #inner3 {
  width: 100%;
} */
a:link {
  color: rgb(211, 179, 52);
}
a:visited {
  color: rgb(211, 179, 52);
}
a:hover {
  color: rgb(252, 215, 0);
}
a:active {
  color: rgb(182, 140, 62);
}

footer small {
  text-align: center;
  color: white;
}
header {
  width: 75%;
  max-width: 1030px;
  margin: 0 auto 5vw auto;
  padding-bottom: 5vw;
  position: relative;
}
/* header img {
  width: 100%;
} */
/* ↓必要 */
.eachTextAnime {
  width: 50%;
  margin: 0 auto;
  font-size: 7vw;
  color: rgb(255, 255, 255);
  font-family: "Allura", cursive;
}
.eachTextAnime span {
  opacity: 0;
}
.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}
@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keyvisual {
  position: relative;
  text-align: center;
}
.eachTextAnime {
  position: absolute;
  top: 53%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  display: inline-block;
}
footer {
  margin: 0 auto;
}
.right img {
  width: 38%;
}

.block1 {
  margin-bottom: 100px;
}
.block1-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.right img {
  margin-top: 12%;
  width: 80%;
  margin-left: 18%;
}
.title {
  /* font-family: "Libre Caslon Text", serif; */
  font-family: "Cormorant Infant", serif;
  color: #515037;
}
@media (min-width: 521px) {
  main {
    max-width: 1030px;
    width: 70%;
    margin: 0 auto;
  }
  .title {
    /* font-family: "Inknut Antiqua", serif; */
    line-height: 2.75vw;
    padding-left: 0.65vw;
    font-size: 2vw;
    border-left: 0.5vw solid #515037;
    border-bottom: 0.3vw solid #515037;
    /* margin-
  bottom: 3.5vw; */
  }
  .block1 > h1,
  .block2 > h1,
  .block3 > h1 {
    width: 50%;
  }
}
#Work,
#Photo {
  margin-bottom: 1.3vw;
}
.left > p:first-child {
  margin-bottom: 0;
  /* margin-top: 30px; */
  margin-top: 9vw;
  font-size: 0.8vw;
}
/* .left p:nth-child(2) {
  /* margin-top: 120px; */
/* margin-top: 3vw;
  margin-bottom: 0;
} 
*/
.left p:nth-of-type(2) {
  margin-top: 2vw;
  margin-bottom: 0;
}
.left h1:nth-child(3) {
  margin-top: 0;
  margin-bottom: 85px;
  font-family: "Inknut Antiqua", serif;
}
.left p {
  font-size: 1vw;
  font-family: "Noto Serif JP", serif;
}
.left h1 {
  /* margin-top: 160px; */
  /* font-size: 40px; */
  /* margin-top: 14vw; */
  margin-bottom: 9vw;
  font-size: 6.5vw;
  font-family: "Allura", cursive;
}
.green {
  background-color: #515037;
}
.left:nth-child(3) {
  margin-top: 5vw;
}

/* ポップアップ表示のCSS */
.featherlight-sample {
  display: none;
  /* width: 800px; */
}

#border {
  border: solid 1px black;
}
table {
  text-align: center;
  width: 70%;
  margin: 150px auto 0 auto;
}

#inner3 img,
#inner4 img {
  width: 50%;
}
#inner2 img,
#inner img,
#inner5 img {
  width: 78%;
}
.featherlight-sample > h3 {
  text-align: center;
  font-family: "Noto Serif JP", serif;
}

.photo {
  text-align: center;
}
.featherlight-sample > p {
  font-family: "Noto Serif JP", serif;

  font-size: 0.95vw;
}
.photo h3 {
  font-size: 1.5vw;
  font-family: "Noto Serif JP", serif;
}
td a:link {
  color: #515037;
}
td a:visited {
  color: #515037;
}
td a:hover {
  color: #8f8d63;
}
td a:active {
  color: chocolate;
}
td {
  padding: 10px 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  /* background-color: antiquewhite; */
}
/* td:nth-of-type(1) {
  background-color: #8f8d63;
}
td:nth-of-type(2) {
  background-color: #8d882a;
} */
#photo {
  /* position: relative; */
  /* margin-left: 25%; */
  display: flex;
  /* max-width: 1030px;
   */
  /* width: 65%; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  row-gap: 1.3vw;
}
#photo img:first-child {
  top: 30px;
  /* left: 100px; */
  /* width: 430px; */
  width: 45%;
  /* position: absolute; */
}
#photo img:nth-child(2) {
  top: 120px;
  /* width: 190px; */
  width: 20%;
  /*position: absolute;*/
  left: 480px;
}
#photo img:nth-child(3) {
  /* width: 350px; */
  width: 30%;
  /*position: absolute;*/
  top: -45px;
  left: 780px;
}
#photo img:nth-of-type(4) {
  /* width: 330px; */
  /*position: absolute;*/
  width: 30%;
  top: 420px;
}
#photo img:nth-of-type(5) {
  /* width: 390px; */
  width: 35%;
  /*position: absolute;*/
  left: 360px;
  top: 485px;
}
#photo img:nth-of-type(6) {
  /* width: 330px; */
  width: 30%;
  /*position: absolute;*/
  left: 800px;
  top: 470px;
}
#photo img:nth-of-type(7) {
  /* width: 380px; */
  width: 35%;
  /*position: absolute;*/
  top: 750px;
}

#photo img:nth-of-type(8) {
  /* width: 200px; */
  width: 20%;
  /*position: absolute;*/
  left: 425px;
  top: 750px;
}

#photo img:nth-of-type(9) {
  /* width: 400px; */
  width: 30%;
  /*position: absolute;*/
  left: 730px;
  top: 750px;
}
#photo img:nth-of-type(10) {
  /* width: 550px; */
  width: 45%;
  /*position: absolute;*/
  top: 1050px;
}
#photo img:nth-of-type(11) {
  /* width: 490px; */
  width: 45%;
  /*position: absolute;*/
  left: 640px;
  top: 1080px;
}

.block2-flex > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block2-flex > div > a {
  width: 48%;
  text-align: center;
}
.block2-flex p {
  font-weight: bold;
  color: #515037;
  font-size: 1.75vw;
  font-family: "Allura", cursive;
  margin-top: 0px;
}
.yoko img {
  width: 92%;
}
.date {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.date p {
  width: 37%;
  text-align: center;
}

/* .tate img:nth-child(1) {
  width: 72%;
}
.tate img:nth-child(2) {
  width: 68%;
} */
.tate a:nth-of-type(1) > img {
  /* text-align: left; */
  width: 83%;
}
.tate a:nth-of-type(2) > img {
  /* text-align: right; */
  width: 74%;
  margin-top: 1vw;
}
.block3 {
  /* margin: 0 auto; */
  margin-bottom: 50px;
}
footer {
  text-align: center;
  top: 1400px;
  left: 500px;
  font-size: 2vw;
  color: #515037;
  font-family: "Allura", cursive;
}
/* トップに戻るボタンここから */

a.link-to-top {
  color: #333;
  bottom: 0vw;
  right: 6vw;
  /* color: #515037; */
  /* color: #515037; */

  position: fixed;
  bottom: 0vw;
  right: 6vw;
  text-decoration: none;
  display: block;
  width: 100px;
  padding: 16px 20px;
  text-align: right;
  transform: rotate(90deg);
  transform-origin: bottom right;
  /* background-color: white; */
}
.arrow1 {
  width: 48px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  right: 62px;
}

.arrow2 {
  width: 1px;
  height: 12px;
  background: #333;
  position: absolute;
  top: calc(50% + 1px);
  right: 109px;
  transform: rotate(-130deg);
  transform-origin: top left;
}
/* ここまで */

/* =========================================== */
@media (max-width: 520px) {
  .block1 > h1,
  .block2 > h1,
  .block3 > h1 {
    width: 100%;
  }

  main {
    max-width: 1030px;
    width: 85%;
    margin: 0 auto;
  }

  header {
    width: 87%;
  }

  .left h1 {
    display: none;
  }
  .left p {
    font-size: 3vw;
    font-family: "Noto Serif JP", serif;
  }
  li {
    font-size: 4.5vw;
    padding: 1.1vw 0 0 3.6vw;
  }

  #inner3 img,
  #inner4 img {
    width: 77%;
  }
  .green {
    height: 100vh;
    margin-bottom: 10vw;
  }

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
    height: 80vh;
    object-fit: none;
    object-position: center;
  }
  .eachTextAnime {
    font-size: 17vw;
  }
  /* タイトルの右の線 */
  .title {
    display: flex;
    align-items: center; /* 縦位置の調整 */
  }

  .title::after {
    content: "";
    flex-grow: 1; /* 余白を分け与える */
    height: 0.1vw;
    background-color: #515037;
    margin-left: 3vw;
  }
  /* モバイル版Aboutページ */
  .block1-flex {
    display: flex;
    flex-direction: column;
  }
  .right {
    order: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .right img {
    width: 100%;
    margin: 0 auto;
  }
  .flex-item3 {
    color: rgb(182 140 62);
  }
  .left {
    order: 1;
    width: 100%;
    margin: 0 auto;
  }
  .block2-flex p {
    font-size: 5vw;
  }
  a.link-to-top {
    font-size: 13px;
    bottom: 0vw;
    right: 9.75vw;
  }
  footer {
    font-size: 5.5vw;
  }
}
